body {
	background: white;
	display: flex;
	justify-content: center;
	margin: 50px;
}

.postcard {
	background-color: white;
	width: 600px;
	border: 2px grey;
	padding: 20px;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.postcard-header img {
	width: 60px;
	height: 60px;
}
.postcard-header h1 {
	font-size: 24px;
	margin: 0;
}
.postcard-body {
	display: flex;
	justify-content: space-between;
}
.body-left {
	margin-top: none;
	width: 55%;
}
.body-right {
	width: 40%;
	padding: 10;
}
.body-right p {
	color: grey;
	text-decoration: underline;
}
input {
	border: none;
	border-bottom: x;
}
.postcard-footer {
	margin-top: 20px;
	text-align: center;
}
button {
	background-color: darkcyan;
	padding: 10;
}
